

      * {
        box-sizing: border-box;
        
          margin: 0;
          padding: 0;
          text-align: center;
       
          
      }
      
      body {
        background: #1D1D1F;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        min-height: 100vh;
        display: flex;
        align-items: center;
      }
      
      .contenedor {
        max-width: 1200px;
        width: 90%;
        margin: auto;
      }
      
      /* --- --- CONTENEDOR PRINCIPAL --- --- */
      
      .contenido-principal {
        margin-bottom: 50px;
        display: flex;
        align-items: center;
      }
      
      .contenido-principal__imagen {
        vertical-align: top;
        margin-right: 20px;
        width: 50%;
        max-width: 550px;
      }
      
      .contenido-principal__contenedor {
        width: 50%;
      }
      
      .contenido-principal__titulo {
        font-weight: normal;
        font-size: 28px;
      }
      
      .contenido-principal__resumen {
        font-family: 'Open Sans', sans-serif;
        line-height: 30px;
        color: #CFCFCF;
      }
      
      /* --- --- CAROUSEL --- --- */
      .carousel__contenedor {
        position: relative;
      }
      
      .carousel__anterior,
      .carousel__siguiente {
        position: absolute;
        display: block;
        width: 30px;
        height: 30px;
        border: none;
        top: calc(50% - 35px);
        cursor: pointer;
        line-height: 30px;
        text-align: center;
        background: none;
        color: #fff;
        opacity: 20%;
      }
      
      .carousel__anterior:hover,
      .carousel__siguiente:hover {
        opacity: 100%;
      }
      
      .carousel__anterior {
        left: -30px;
      }
      
      .carousel__siguiente {
        right: -30px;
      }
      
      .carousel__lista {
        overflow: hidden;
      }
      
      .carousel__elemento {
        text-align: center;
      }
      
      .carousel__indicadores .glider-dot {
        display: block;
        width: 30px;
        height: 4px;
        background: #fff;
        opacity: .2;
        border-radius: 0;
      }
      
      .carousel__indicadores .glider-dot:hover {
        opacity: .5;
      }
      
      .carousel__indicadores .glider-dot.active {
        opacity: 1;
      }
      
      @media screen and (max-width: 800px) {
        body {
          padding: 40px 0;
        }
      
        .contenido-principal {
          flex-direction: column;
        }
      
        .contenido-principal > * {
          width: 100%;
        }
      }
  
      {
        background-color: blue;text-align:center;
        line-height:2 
        font-family: "Lucida Console", "Courier New", monospace;
        color:blue;
        box-sizing: border-box;} 
  
  #chat{
      position:fixed;
      width:250px;
      height:40px;
      bottom:0;
      right:20px;
      background:green;
      z-index:1;
      colorz-e;
      text-align:center;
      line-height:40px;
      font-family: 'Courier New', cursive;
      font-size:20px;
      border-radius:20px 20px 0 0;
      cursor:pointer;
      }
  
  header  
  
  #logo{
      position:absolute;
      top:30px;
      left:30px;
      width:200px;
      height:60px;
      font-family: 'Kaushan Script', cursive;
      font-size:50px;
      text-align:center;
      line-height:60px;
      }
  
  .botones{
      float:left;
      width:196px;
      margin:0px 2px;
      height:48px;
      background:rgb(19, 212, 51);
      font-family: 'calibri', cursive;
      color:white;
      text-align:center;
      line-height:48px;
    }
      
  .body 
  
  p { background-color: red;	}
    #texto1{ background-color: rgb(22, 162, 228);	}
    #texto2{ background-color: rgb(22, 162, 228);	}
    #texto3{ background-color: rgb(22, 162, 228);	}
    #texto4{ background-color: rgb(22, 162, 228);	}


    .splide_slide {
        background-color: #a8aa1591;
        height: 200 px;
        width: 200 px;
        display: block;
    }
   

    
  /* .caja{
          width: 33%;
          height: 100vh;
          float: left;
      }
      
      #primero{
      background-color: #65f02e91;
      }
      
      #segundo{
      background-color: #f11ff191;
      }
      
      #tercero{
      background-color: #09090ad0;
      } */ */
  
  
    p {
      font-family:  Calibri,  sans-serif    ;
      font-size: 10;
    }
  
    #empezamos {
      text-align: center;
      color: rgb(255, 255, 238);
      font-size: 10px;
    }
    
    section {
      text-align: center;
   } 
  
   .mixto{
      border-style: dotted solid dashed double;text-align: center;
  }
   
  
      position: relative;
      margin: 20px auto;
      width: 1000px;
      height: 70px;
      background:rgb(39, 224, 85);
      text-align: center;
      line-height: 70px;
      color: blue